

<div class = "container-flow">

<img class="cover-img" src="<%=url_for(@article.image)%>">
  <h1 class="display-1"><%= @article.title %></h1>
  <p class="lead">
    <%= User.find(@article.user_id).name %> - <%= @article.created_at.strftime('%F') %>
  </p>
  <p class="lead"><%= @article.views %> views<p>
 
  <div class="heart">
   <% if can? :flip_like, @article %>
      <% classes = @view.liked ? 'liked fas fa-heart' : 'like far fa-heart' %>
      <%= link_to '', url_for(controller: 'articles',action: 'flip_like', only_path: true), remote: true, class: classes, id:  "heart_link" %><br>
      <span id="count"><%= @likes %> likes</span>
    <% else %>
      <%= link_to '', '', class: 'like far fa-heart', id:  "heat_inactive" %><br>
      <span id="count"><%= @likes %> likes</span>
    <% end %>
  </div>

  <br>
  <p class="content">
    
    <%= @article.content %>
  </p>
    <%= link_to 'Create PDF document', article_path(@article, format: :pdf), class: 'btn text-white btn-primary' %>
    <% if @article.user_id == session[:user_id] || session[:admin] %>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>   
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } ,class: ' btn btn-outline-danger'%>
    <% end %>
  <%= link_to 'Back', articles_path, class: "btn btn-outline-dark" %>
  
<div>
